[Unit]
Description=Run daily Immich gallery backup to Backblaze B2
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/scripts/b2-immich-bkp.sh

[Install]
WantedBy=multi-user.target